<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-background">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span style="color:white" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active ">
                <a class="nav-link text-white " href="/ ">
                    <i class="fas fa-home "></i> Home
                    <span class="sr-only ">(current)</span>
                </a>
            </li>
        </ul>
        <ul class=" navbar-nav justify-content-end ">
            {{!--
            <li class="nav-item "> --}}
                <a class="nav-link text-white " href="/shopping-cart "><i class="fa fa-shopping-cart
    "></i> Cart <span style="color:white " class="badge badge-success ">{{ session.cart.totalQty }}</span></a>

                {{# if login }}
                <a class="nav-link text-white " href="/user/profile "><i class="fas fa-user-circle "></i> Profile</a>
                <a class="nav-link text-white " href="/user/logout "><i class="fas fa-sign-out-alt "></i> Logout</a>
                {{ else}} {{!-- <a class="nav-link text-white " href="/user/signup "><i class="fas fa-user-plus "></i> Sign
                    Up
                </a> --}}
                <a class="nav-link text-white " href="/user/signin "><i class="fas fa-sign-in-alt "></i> Sign In</a>
                {{/if}} {{!-- </li> --}} {{!--
            <li class="nav-item dropdown "> --}} {{!-- <a class="nav-link dropdown-toggle text-white " href="# " id="navbarDropdown "
                    role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                    <i class="fa fa-user "></i>
                    User Management
                </a> --}} {{!-- <div class="dropdown-menu " aria-labelledby="navbarDropdown "> --}} {{!-- {{# if login }}
                    <a class="dropdown-item " href="/user/profile "><i class="fas fa-user-circle "></i> User Account</a>
                    <a class="dropdown-item " href="/user/logout "><i class="fas fa-sign-out-alt "></i> Logout</a>
                    {{!-- {{ else}} --}} {{!-- <a class="dropdown-item " href="/user/signup "><i class="fas fa-user-plus "></i>
                        Sign Up</a>
                    <a class="dropdown-item " href="/user/signin "><i class="fas fa-sign-in-alt "></i> Sign In</a> --}} {{!--
                    {{/if}} --}} {{!-- </div> --}} {{!--
            </li> --}}

        </ul>
    </div>
</nav>